

body {
  background: url('/assets/bg.jpg');
}

h1 {
  font-size: 12px;
}

// #item-image{
//   width: 100%;
//   height: 500px; you should change this later. this is for testing
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
// }

#content-container{
  border: 10px solid pink;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // align-items: stretch;
  // margin: auto;
}

.article-container{
  border: 10px solid yellow;
  background-color: white;
}

.headline{
  background-color: blue;
}

.item-image{
  width: 280px;
  height: 170px; /* you should change this later. this is for testing */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.author{
  background-color: green;
}

.views{
  background-color: red;
}

.time-ago{
  background-color: purple;
}





