@import "partials/reset";
@import "partials/clearfix";


body {
  background: url('/assets/bg.jpg');
}

.upper-nav{
  // border: 10px solid blue;
  background-color: white;
  background-position: center center;
  background-image: url('/assets/header_bg.svg');
  background-image: url('/assets/logo.svg');
  background-repeat: no-repeat;
  height: 60px;
}


.nav ul {
  // border: 10px solid orange;
  list-style: none;
  background-color: #2C2C2E;
  text-align: center;
  margin: 0 0 40px 0;
}

.nav li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: #66676A;
  line-height: 50px;
}

.nav li:after {
  content: " •";
}

.nav li:last-child:after{
  content: "";
}

#content-container{
  // border: 10px solid pink;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.articles-holder{
  // border: 10px solid black;
  flex: 0 0 720px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

.article-container{
  // border: 10px solid yellow;
  background-color: white;
  box-sizing: border-box;
  flex: 0 0 35%;
  margin: 15px 15px 15px 15px;
}

.headline{
  // background-color: blue;
  flex: 0 0 48%;
  font-family: 'Oswald', sans-serif;
  margin: 10px 25px 10px 25px;
}

.item-image{
  width: 280px;
  height: 170px; /* you should change this later. this is for testing */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 25px 25px auto 25px;
}

.author{
  // background-color: green;
  font-size: 0.8rem;
  margin: 10px 25px 50px 25px;
}

.views{
  // background-color: red;
  font-size: 0.8rem;
}


.time-ago{
  // background-color: purple;
  font-size: 0.7rem;

}





