

body {
  background: url('/assets/bg.jpg');
}

h1{
  border: 10px solid purple;
  background-color: white;
  background: url('/assets/header_bg.svg');
  text-align: center;
  line-height: 40px;

}

.nav ul {
  border: 10px solid orange;
  list-style: none;
  background-color: gray;
  text-align: center;
}

.nav li {
  display: inline-block;
  border: 10px solid magenta;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

#content-container{
  border: 10px solid pink;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-flow: row wrap;
}

.article-container{
  border: 10px solid yellow;
  background-color: white;
  flex: 0 0 320px;
}

.headline{
  background-color: blue;
  flex: 0 0 280px;
}

.item-image{
  width: 280px;
  height: 170px; /* you should change this later. this is for testing */
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.author{
  background-color: green;
}

.views{
  background-color: red;
}

.time-ago{
  background-color: purple;
}





