body {
  background: url("/assets/bg.jpg"); }

h1 {
  font-size: 12px; }

#content-container {
  border: 10px solid pink; }

.article-container {
  border: 10px solid yellow; }

.headline {
  background-color: blue; }

.author {
  background-color: green; }

.views {
  background-color: red; }

.time-ago {
  background-color: purple; }

.item-image {
  width: 280px;
  height: 170px;
  /* you should change this later. this is for testing */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
